body{
    box-sizing:border-box;
    background-color:white;
    color:black;
    font-family:Geneva, verdana, sans-serif ;
}
h1{
    color:orangered;
    text-align: center;
    font-size: 48px;
    font-family:"Brush script MT", cursive;
}

.prev{
    position:relative;
    left:2%;
    top:2%;
    width:50%;
    height:300px;
}

.desc{
    position:relative;
    width:44%;
    height:auto;
    top:-325px;
    margin-left:54%;
}
.desc h2{
    text-align:center;
    color:limegreen;
    font-size:30px;
}

h3, h4{
    color:limegreen;
}

.ing{
    position:relative;
    margin-top:-300px;
    margin-left: 70%;
    width:30%;
    border: 2px solid rgb(86, 182, 65);
    font-size:10px;
}
.ing h3{
    color:orangered;
    text-align:center;
}
.stp{
    position:relative;
    margin-top: -300px;
    margin-left:2%;
    width:60%;
}